@import "bootstrap/dist/css/bootstrap.min.css";

/* Colores base personalizados */
body {
    background-color: #2A2A2A;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

/* Estilos del navbar */
.navbar {
    background-color: #2A2A2A;
}

.navbar-brand,
.nav-link {
    color: #FFFFFF !important;
}

/* Footer */
footer {
    background-color: #2A2A2A;
    color: #FFFFFF;
    padding: 1rem;
    text-align: center;
}

/* Botones personalizados */
.btn-custom {
    background-color: #525252;
    color: #FFFFFF;
}

.btn-custom:hover {
    background-color: #787878;
    color: #FFFFFF;
}
